!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford Enter - Sprint 3</title>
    <link rel="stylesheet" href="style.css">
</head>
    <style>
    h4{
        text-align: center;
        margin-top: 0 auto;
        
    }
    main p {
        text-align: center;
    }
    .imagem.imagem.principal{
        display: block;
        margin-left: 0cqb;
        margin-right: ;
        display: ;
    }

    </style>

   

<body>
    <header>
        <img src="img/logo-ford-256.png" alt="Imagem do site" class="imagem.principal"> 
    </header>
    <main>
        <h4> 
            <a href="#">Home</a>
            <a href="../lancamentos/index.html">Lançamentos</a>
            <a href="../contato/">Contato</a>
        </h4>
        <br>
        <img src="img/imagem_1.jpg" alt="imagem principal"> <br>
        <p>Essa é a nova Ranger Ford 2022. Verifique novidades <a href="">aqui</a></p>
    </main>
    <footer>
        <div class="Rodape">
            <p>&copy;Copyright © 2025 Ford Motor Company - Todos os direitos reservados</p> <br>
        <span>Redes Sociais</span>
            <a href="https://www.instagram.com/ford/" target="_blank">
                <img src="img/instagram-logo-50.png" alt="icone do instagram">
            </a> 
            <a href="https://www.facebook.com/FordBrasil/" target="_blank">
                <img src="img/facebook-50.png" alt="icone do Facebook">
            </a>
            <a href="https://www.youtube.com/fordbrasil" target="_blank">
                <img src="img/youtube-squared-50.png" alt="icone do Youtube">
            
            <img src="img/ford.logo.menor.png" alt="logo do rodapé">
        </div>
        
      
    </footer>
</body>
</html>